@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "reset-css";
@import "responsive";
@import "variables";
@import "header";
@import "searchbar";
@import "info";

:root {
    --bg-color: #{$bg-light};
    --box-shadow-color: #{$box-shadow-color-light};
    --logo-color: #{$logo-color-light};
    --font-color: #{$font-color-light};
    --btn-text-color: #{$btn-text-color-light};
    --btn-text-hover-color: #{$btn-text-hover-color-light};
    --link-color: #{$link-color-light};

    --bg-container: #{$bg-container-light};
}

:root.dark {
    --bg-color: #{$bg-dark};
    --box-shadow-color: #{$box-shadow-color-dark};
    --logo-color: #{$logo-color-dark};
    --font-color: #{$font-color-dark};
    --btn-text-color: #{$btn-text-color-dark};
    --btn-text-hover-color: #{$btn-text-hover-color-dark};
    --link-color: #{$link-color-dark};

    --bg-container: #{$bg-container-dark};
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
        font-family: "Space Mono", monospace;

        box-shadow: 0 16px 30px -10px var(--box-shadow-color);
    }

    h1,
    h2 {
        font-weight: bold;
    }

    header {
        h1 {
            font-size: 26px;
            color: var(--logo-color);
        }

        button.mode {
            color: var(--btn-text-color);
            transition: color 150ms ease-in-out;

            &:hover {
                color: var(--btn-text-hover-color);
            }
        }
    }

    section#info > .container {
        background-color: var(--bg-container);
        p.created-at {
            color: var(--btn-text-color);
        }

        .statistics-wrapper {
            background-color: var(--bg-color);
        }

        p.description,
        .repos-wrapper > h3,
        .followers-wrapper > h3,
        .following-wrapper > h3,
        p.location,
        p.twitter,
        a.blog,
        a.github,
        svg {
            color: var(--link-color);
        }

        .repos,
        .followers,
        .following {
            color: var(--font-color);
        }

        .not-avaliable {
            opacity: .5;
            cursor: default;
            pointer-events: none;
        }
    }

    .skeleton {
        opacity: 0.7;
        animation: skeleton-loading 1s linear infinite alternate;
        border-radius: 10px;
    
        &.skeleton-icon {
            width: 70px;
            height: 70px;
            border-radius: 100%;

            @media screen and (min-width: 768px) {
                width: 117px;
                height: 117px;
            }
        }
    
        &.skeleton-login {
            width: 15%;
            height: 19.5px;

            @media screen and (min-width: 768px) {
                height: 24px;
            }
        }

        &.skeleton-name {
            width: 25%;
            height: 24px;

            @media screen and (min-width: 768px) {
                height: 39px;
            }
        }

        &.skeleton-date {
            width: 40%;
            height: 19.5px;

            @media screen and (min-width: 768px) {
                height: 22.5px;
            }
        }

        &.skeleton-description {
            width: 70%;
            height: 25px;
        }

        &.skeleton-social {
            width: 40%;
            height: 19.5px;

            @media screen and (min-width: 768px) {
                height: 22.5px;
            }
        }
    }
    
    @keyframes skeleton-loading {
        0% {
            background-color: $skeleton-light-grey;
        }
    
        100% {
            background-color: $skeleton-dark-grey;
        }
    }
}